<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="./css/styles.css">

    <title>Auth</title>
</head>
<body>

<!-- Класс-надстройка для фиксации футера к низу страницы-->
<div class="footer__sticky">
<header class="header">
    <div class="container">
        <div class="header__top">
            <nav class="nav">
                <div class="nav__logo logo--header">
                    <img src="./img/main/logo-header.png" alt="Логотип компании СКАН" title="Логотип компании СКАН"/>
                </div>

                <ul class="nav__list nav__list-header"> <!-- доп.класс добавлен, т.к. в футере список пропадает -->
                    <li><a href="#!">Главная</a></li>
                    <li><a href="#!">Тарифы</a></li>
                    <li><a href="#!">FAQ</a></li>
                </ul>

                <!-- Секция "Зарегистирироваться | Войти" -->
                <ul class="nav__login nav__login--header">
                    <li><a href="#!" class="btn--registration">Зарегистрироваться</a></li>
                    <li></li>
                    <li><a href="#!" class="btn btn--login">Войти</a></li>
                </ul>
            </nav>

            </div>
        </div>
</header>

<main class="main">
    <section class="auth">
        <div class="container">
                    <div class="auth__row">
                        <div class="auth__content">
                            <h2 class="auth__title">ДЛЯ ОФОРМЛЕНИЯ ПОДПИСКИ <br> НА ТАРИФ, НЕОБХОДИМО АВТОРИЗОВАТЬСЯ.</h2>
                            <div class="auth__img">
                                <img src="./img/auth/key.png" alt="СКАН Авторизация Регистрация Оформление подписки Тариф">
                            </div>
                        </div>

                        <div class="auth__form">
                                <form class="authorization-form">
                                    <div class="authorization-form__container">

                                        <div class="authorization-form__navigation">
                                            <button class="authorization-form__btn authorization-form__btn-login">Войти</button>
                                            <button class="authorization-form__btn authorization-form__btn-signup">Зарегистрироваться</button>
                                        </div>

                                        <div class="authorization-form__content">

                                            <div class="authorization-form__content authorization-form__content_input_login">
                                                 <label class="authorization-form__label" for="login">Логин или номер телефона:</label>
                                                 <input class="authorization-form__input" type="text" id="login" name="login">
                                            </div>
                                            <div class="authorization-form__content authorization-form__content_input_password">
                                                <label class="authorization-form__label" for="password">Пароль: </label>
                                                <input class="authorization-form__input" type="password" id="password" name="password">
                                            </div>

                                        </div>

                                        <div class="authorization-form__content authorization-form__content_btn-login">
                                            <a href="#!" class="btn auth-btn__btn-login">Войти</a>
                                        </div>
                                            <a href="#!" class="auth-btn__btn-recovery">Восстановить пароль</a>

                                        <div class="authorization-form__oauth">
                                            <p class="authorization-form__oauth-paragraph">Войти через:</p>

                                            <div class="oauth__btns">
                                                <a class="btn oauth__btn oauth__btn-google" href="#!"><img src="./img/auth/google.svg" alt="СКАН войти через google"></a>
                                                <a class="btn oauth__btn oauth__btn-facebook" href="#!"><img src="./img/auth/facebook.svg" alt="СКАН войти через facebook"></a>
                                                <a class="btn oauth__btn oauth__btn-yandex" href="#!"><img src="./img/auth/yandex.svg" alt="СКАН войти через yandex"></a>
                                            </div>
                                        </div>

                                    </div>
                                </form>
                        </div>
                    </div>
                    </div>
    </section>
</main>
</div>

<footer class="footer">
    <div class="container">
        <div class="nav nav--footer">
            <div class="nav__logo logo--footer">
                    <img src="./img/main/logo-footer.png" alt="Логотип компании СКАН" title="Логотип компании СКАН"/>
            </div>

            <ul class="nav__footer">
                <li>г.Москва, Цветной б-р, 40</li>
                <li><a href="tel:+74957712111">+7 495 771 21 11</a></li>
                <li><a href="mailto:info@skan.ru">info@skan.ru</a></li>
                <li>Copyright, 2025</li>
            </ul>

        </div>
    </div>
</footer>


</body>
</html>