<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Подключение стилей -->
    <link rel="stylesheet" href="./css/styles.css">
    <!-- Подключение скриптов -->
    <script src="./customscript.js"></script>

    <title>СКАН – поиск информации о компании по ИНН</title>
</head>
<body>

<!-- Класс-надстройка для фиксации футера к низу страницы-->
<div class="footer__sticky">
<header class="header">
    <div class="container">
        <div class="header__top">
            <nav class="nav nav-header">
                <div class="nav__logo nav__logo_logo-header">
                    <img src="./img/main/logo-header.png" alt="Логотип компании СКАН"/>
                </div>

                <ul class="nav__list nav__list-header"> <!-- доп.класс добавлен, т.к. в футере список пропадает -->
                    <li><a class="anchor paragraph-14" href="#!">Главная</a></li>
                    <li><a class="anchor paragraph-14" href="#!">Тарифы</a></li>
                    <li><a class="anchor paragraph-14" href="#!">FAQ</a></li>
                </ul>

                <div class="header__info">
                    <p class="paragraph-10">Использовано компаний: <span class="header-info__span header-info__span_first-value paragraph-14-700">34</span></p>
                    <p class="paragraph-10">Лимит по компаниям: <span class="header-info__span header-info__span_second-value paragraph-14-700">100</span></p>
                </div>

                <div class="header__user">
                    <div class="header__user-info">
                        <p class="header__user-info_paragraph-username paragraph-14">Алексей А.</p>
                        <a class="anchor-gray paragraph-10" href="#!">Выйти</a>
                    </div>
                    <div class="user__logo">
                        <a class="user__logo user__logo_image" href="#!"><img src="./img/main/user-nav.png" alt="user profile"></a>
                    </div>
                </div>

                <!-- Секция "Зарегистирироваться | Войти" -->
                <ul class="nav__login nav__login-header none">
                    <li><a  class="anchor-gray nav__login_btn nav__login_btn-registration" href="#!">Зарегистрироваться</a></li>
                    <li></li> <!-- Пустой item для отображения вертикальной черты между пунктами списка -->
                    <li><a class="btn nav__login_btn nav__login_btn-login" href="#!">Войти</a></li>
                </ul>

                <!-- Бургер-меню-->
                <button type="button" class="nav__toggle none">
                    <div class="menu-icon-wrapper">
                        <div class="menu-icon"></div>
                    </div>
                </button>

                <!-- Спиннер (Loader) -->
                <!-- <img src="./img/main/spinner.svg" alt="СКАН loader spinner"> -->
            </nav>
        </div>
    </div>
</header>

<main class="main">

    <section class="header-contents">
            <div class="container">
                <div class="header__row"> <!-- Выравнивание картинки и текста в ряд-->
                    <div class="header__content">
                        <h1 class="header__title header__title_main-h1 paragraph-60-500">Сервис по поиску публикаций о компании по его ИНН</h1>
                        <div class="header__text">
                            <p class="header__paragraph paragraph-20">Комплексный анализ публикаций, получение данных в формате PDF на электронную почту.</p>
                        </div><br>
                            <a class="btn header__text_btn header__text_btn-request paragraph-22">Запросить данные</a>
                    </div>

                    <div class="header__img">
                        <img src="./img/main/women-header-2.png" alt="СКАН главная страница">
                    </div>
                </div>
            </div>
    </section>

    <section class="factoids">
        <div class="container">
          <h2 class="factoids__title paragraph-45">ПОЧЕМУ ИМЕННО МЫ</h2>
            <div class="factoids__column">

                <button class="slider__btn slider__btn-prev" onclick="scrollFactoids(-1)">
                    <img src="./img/UI/arrow-left.svg" alt="СКАН стрелочка влево">
                </button>

                <div class="factoids__content">

                    <div class="factoids__item item-1">
                        <img src="./img/main/clock-facts.svg" alt="СКАН Высокая и оперативная скорость обработки заявки">
                        <p class="factoids-paragraph paragraph-18">Высокая и оперативная скорость обработки заявки</p>
                    </div>

                    <div class="factoids__item item-2">
                        <img src="./img/main/search-facts.svg" alt="СКАН Огромная база данных">
                        <p class="factoids-paragraph paragraph-18">Огромная комплексная база данных, обеспечивающая объективный ответ на запрос</p>
                    </div>

                    <div class="factoids__item item-3">
                        <img src="./img/main/lock-facts.svg" alt="СКАН защита конфиденциальных сведений">
                        <p class="factoids-paragraph paragraph-18">Защита конфеденциальных сведений, не подлежащих разглашению по федеральному законодательству</p>
                    </div>

                    <div class="factoids__item item-1">
                        <img src="./img/main/clock-facts.svg" alt="СКАН Высокая и оперативная скорость обработки заявки">
                        <p class="factoids-paragraph paragraph-18">Высокая и оперативная скорость обработки заявки</p>
                    </div>

                    <div class="factoids__item item-2">
                        <img src="./img/main/search-facts.svg" alt="СКАН Огромная база данных">
                        <p class="factoids-paragraph paragraph-18">Огромная комплексная база данных, обеспечивающая объективный ответ на запрос</p>
                    </div>

                    <div class="factoids__item item-3">
                        <img src="./img/main/lock-facts.svg" alt="СКАН защита конфиденциальных сведений">
                        <p class="factoids-paragraph paragraph-18">Защита конфеденциальных сведений, не подлежащих разглашению по федеральному законодательству</p>
                    </div>

                </div>

                <button class="slider__btn slider__btn-next" onclick="scrollFactoids(1)">
                    <img src="./img/UI/arrow-right.svg" alt="СКАН стрелочка вправо">
                </button>

                <div class="factoids__img">
                    <img src="./img/main/man-factoids.png" alt="Почему именно СКАН" />
                </div>
            </div>
        </div>
    </section>

    <section class="rate">
        <div class="container">
          <h2 class="container__title rate__title paragraph-45">НАШИ ТАРИФЫ</h2>
            <div class="rate__row">

                <!-- BEGINNER -->
                <div class="rate__card rate__card-beginner">
                    <div class="rate__header rate__header-beginner">
                        <div class="rate__title">
                            <p class="rate__title rate__title-title paragraph-30">Beginner</p>
                            <p class="rate__title rate__title-desc paragraph-18">Для небольшого исследования</p>
                        </div>

                        <div class="rate__img">
                            <img src="./img/main/lamp-rate.png" alt="СКАН ТАРИФ Beginner для небольшого исследования">
                        </div>
                    </div>

                        <div class="rate__content">
                            <div class="rate__badge">
                                <p class="rate__badge-paragraph paragraph-14">Текущий тариф</p>
                            </div>

                        <div class="rate__price">
                            <p class="rate__price rate__price-actually paragraph-30">799 ₽<span class="rate__price rate__price-outdated paragraph-25-500">1 200 ₽</span></p>
                            <p class="rate__price-paragraph paragraph-18">или 150 ₽/мес. при рассрочке на 24 мес.</p>
                        </div>

                        <div class="rate__tax">
                            <p class="rate__tax-paragraph paragraph-20-500">В тариф входит:</p>
                            <ul class="rate__list">
                                <li class="paragraph-18">Безлимитная история запросов</li>
                                <li class="paragraph-18">Безопасная сделка</li>
                                <li class="paragraph-18">Безопасная сделка</li>
                            </ul>
                        </div>

                            <a class="btn btn__rate btn__rate-beginner paragraph-20" href="#!">Перейти в личный кабинет</a>
                    </div>
                </div>

                <!-- PRO -->
                <div class="rate__card rate__card-pro">

                    <div class="rate__header rate__header-pro">
                        <div class="rate__title rate__title-pro">
                            <p class="rate__title rate__title-title paragraph-30">Pro</p>
                            <p class="rate__title rate__title-desc paragraph-18">Для HR и фрилансеров</p>
                        </div>

                        <div class="rate__img">
                            <img src="./img/main/goal-rate.png" alt="СКАН ТАРИФ PRO для HR и фрилансеров">
                        </div>
                    </div>

                        <div class="rate__content">

                        <div class="rate__price">
                            <p class="rate__price rate__price-actually paragraph-30">1 299 ₽<span class="rate__price rate__price-outdated paragraph-25-500">2 600 ₽</span></p>
                            <p class="rate__price-paragraph paragraph-18 ">или 279 ₽/мес. при рассрочке на 24 мес.</p>
                        </div>

                        <div class="rate__tax">
                            <p class="rate__tax-paragraph paragraph-20-500">В тариф входит:</p>
                            <ul class="rate__list">
                                <li class="paragraph-18">Все пункты тарифа Beginner</li>
                                <li class="paragraph-18">Экспорт истории</li>
                                <li class="paragraph-18">Рекомендации по приоритетам</li>
                            </ul>
                        </div>

                            <a class="btn btn__rate btn__rate-md paragraph-20" href="#!">Подробнее</a>

                    </div>
                </div>

                <!-- Business -->
                <div class="rate__card rate__card-business">

                    <div class="rate__header rate__header-business">
                        <div class="rate__title">
                            <p class="rate__title rate__title-title paragraph-30">Business</p>
                            <p class="rate__title rate__title-desc paragraph-18">Для корпоративных клиентов</p>
                        </div>

                        <div class="rate__img">
                            <img src="./img/main/laptop-rate.png" alt="СКАН ТАРИФ Business для корпоративных клиентов">
                        </div>
                    </div>

                        <div class="rate__content">
                            <div class="rate__price">
                                <p class="rate__price rate__price-actually paragraph-30">2 379 ₽<span class="rate__price rate__price-outdated paragraph-25-500">3 700 ₽</span></p>
                            </div>

                            <div class="rate__tax rate__tax-business">
                                <p class="rate__tax-paragraph paragraph-20-500">В тариф входит:</p>
                                <ul class="rate__list">
                                    <li class="paragraph-18">Все пункты тарифа Pro</li>
                                    <li class="paragraph-18">Безлимитное количество запросов</li>
                                    <li class="paragraph-18">Приоритетная поддержка</li>
                                </ul>
                            </div>

                            <a class="btn btn__rate btn__rate-md paragraph-20" href="#!">Подробнее</a>

                        </div>
                    </div>
            </div>
        </div>
    </section>

</main>
</div>

<footer class="footer">
    <div class="container">
        <div class="nav nav-footer">

            <div class="nav__logo nav__logo_logo-footer">
                    <img src="./img/main/logo-footer.png" alt="Логотип компании СКАН" title="Логотип компании СКАН"/>
            </div>

            <ul class="nav__footer paragraph-14">
                <li>г.Москва, Цветной б-р, 40</li>
                <li><a href="tel:+74957712111">+7 495 771 21 11</a></li>
                <li><a href="mailto:info@skan.ru">info@skan.ru</a></li>
                <li>Copyright, 2025</li>
            </ul>
        </div>
    </div>
</footer>

</body>
</html>