<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="./css/styles.css">

    <title>СКАН – поиск информации о компании по ИНН</title>
</head>
<body>

<header class="header">
    <div class="container">
        <div class="header__top">
            <nav class="nav">
                <div class="nav__logo">
                    <img src="./img/main/logo-header.png" alt="Логотип компании СКАН" title="Логотип компании СКАН"/>
                </div>

                <ul class="nav__list nav__list-header"> <!-- доп.класс добавлен, т.к. в футере список пропадает -->
                    <li><a href="#!">Главная</a></li>
                    <li><a href="#!">Тарифы</a></li>
                    <li><a href="#!">FAQ</a></li>
                </ul>

                <div class="header__info">
                    <p>Использовано компаний: <span class="first-value">34</span></p>
                    <p>Лимит по категориям: <span class="second-value">100</span></p>
                </div>
                <div class="header__user">
                    <div class="header__user-info">
                        <p>Алексей А.</p>
                        <a href="#!" class="reg">Выйти</a>
                    </div>
                    <div class="user__logo">
                        <a href="#!"><img src="./img/main/user-nav.png" alt="user profile"></a>
                    </div>
                </div>

                <!-- Секция "Зарегистирироваться | Войти" -->
                <ul class="nav__login nav__login--header none">
                    <li><a href="#!" class="reg">Зарегистрироваться</a></li>
                    <span>&nbsp;</span>
                    <li><a href="#!" class="btn btn--login">Войти</a></li>
                </ul>
            </nav>
        </div>

        <!-- Header Content -->
        <div class="header__row"> <!-- Выравнивание картинки и текста в ряд-->
            <div class="header__content">
                <h1 class="header__title">Сервис по поиску публикаций <br> о компании <br> по его ИНН</h1>
                <div class="header__text">
                    <p>Комплексный анализ публикаций, получение данных в формате PDF на электронную почту.</p>
                </div><br><br>
                    <a href="#!" class="btn btn--header">Запросить данные</a>
            </div>

            <div class="header__img">
                <img src="./img/main/women-header.png" alt="СКАН главная страница">
            </div>

        </div>
    </div>
</header>


</body>
</html>