<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Подключение стилей -->
    <link rel="stylesheet" href="./css/styles.css">
    <!-- Подключение скриптов -->
    <script src="./customscript.js"></script>

    <title>СКАН – найдите необходимые данные в пару кликов</title>
</head>
<body>

<!-- Класс-надстройка для фиксации футера к низу страницы-->
<div class="footer__sticky">
<header class="header">
    <div class="container">
        <div class="header__top">
            <nav class="nav">
                <div class="nav__logo nav__logo_logo-header">
                    <img src="./img/main/logo-header.png" alt="Логотип компании СКАН" title="Логотип компании СКАН"/>
                </div>

                <ul class="nav__list nav__list-header"> <!-- доп.класс добавлен, т.к. в футере список пропадает -->
                    <li><a class="anchor paragraph-14" href="#!">Главная</a></li>
                    <li><a class="anchor paragraph-14" href="#!">Тарифы</a></li>
                    <li><a class="anchor paragraph-14" href="#!">FAQ</a></li>
                </ul>

                <div class="header__info">
                    <p class="paragraph-10">Использовано компаний: <span class="header-info__span_first-value paragraph-14-700">34</span></p>
                    <p class="paragraph-10">Лимит по категориям: <span class="header-info__span_second-value paragraph-14-700">100</span></p>
                </div>

                <div class="header__user">
                    <div class="header__user-info">
                        <p class="header__user-info_paragraph-username paragraph-14">Алексей А.</p>
                        <a class="anchor-gray paragraph-10" href="#!">Выйти</a>
                    </div>
                    <div class="user__logo">
                        <a class="user__logo user__logo_image" href="#!"><img src="./img/main/user-nav.png" alt="user profile"></a>
                    </div>
                </div>

                <!-- Секция "Зарегистирироваться | Войти" -->
                <ul class="nav__login nav__login-header none">
                    <li><a  class="anchor-gray nav__login_btn nav__login_btn-registration" href="#!">Зарегистрироваться</a></li>
                    <li></li> <!-- Пустой item для отображения вертикальной черты между пунктами списка -->
                    <li><a class="btn nav__login_btn nav__login_btn-login" href="#!">Войти</a></li>
                </ul>

                <!-- Бургер-меню-->
                <button type="button" class="nav__toggle none">
                    <div class="menu-icon-wrapper">
                        <div class="menu-icon"></div>
                    </div>
                </button>

                <!-- Спиннер (Loader) -->
                <!-- <img src="./img/main/spinner.svg" alt="СКАН loader spinner"> -->
            </nav>
        </div>
    </div>
</header>

<main class="main">
    <section class="search">
        <div class="container">
            <div class="search__row">
                <div class="search__content">
                    <h2 class="search__title paragraph-40">НАЙДИТЕ НЕОБХОДИМЫЕ <br> ДАННЫЕ В ПАРУ КЛИКОВ.</h2>
                    <div class="search__text">
                        <p class="search__paragraph paragraph-20">Задайте параметры поиска. <br> Чем больше заполните, тем точнее поиск</p>
                    </div>

                    <div class="search__form">
                        <form class="search-form">
                            <div class="search-form__container">
                                <div class="search-form__row">
                                    <div class="search-form__inputs"> <!-- ТУТ колонка инпутов -->

                                        <div class="search-form__section search-form__section_item-1">
                                            <label class="paragraph-18" for="inn">ИНН компании<span class="paragraph-25-500">*</span></label><br>
                                            <input class="search-form__input paragraph-14" placeholder="10 цифр" maxlength="10" type="text" id="inn" name="inn">
                                        </div>

                                        <div class="search-form__section search-form__section_item-2">
                                            <label class="paragraph-18" for="tonality">Тональность</label><br>
                                            <select class="search-form__select-big search-form__select-big_item-1" id="tonality">
                                                <option class="search-form__select-big_option search-form__select-big_option-0" value="Любая">Любая</option>
                                                <option class="search-form__select-big_option search-form__select-big_option-1" value="Значение-1">Значение 1</option>
                                                <option class="search-form__select-big_option search-form__select-big_option-2" value="Значение-2">Значение 2</option>
                                                <option class="search-form__select-big_option search-form__select-big_option-3" value="Значение-3">Значение 3</option>
                                            </select>
                                        </div>

                                        <div class="search-form__section search-form__section_item-3">
                                            <label class="paragraph-18" for="documents_count">Количество документов в выдаче<span class="paragraph-25-500">*</span></label><br>
                                            <input class="search-form__input paragraph-14" placeholder="От 1 до 1000" maxlength="4" type="text" id="documents_count" name="documents_count">
                                        </div>

                                        <div class="search-form__section search-form__section_item-4">
                                            <label class="paragraph-18" for="searchSelect-small-1">Диапазон поиска<span class="paragraph-25-500">*</span></label><br>
                                            <div class="search-form_section__row">
                                                <select class="search-form__select-small search-form__select-small_item-1 paragraph-14" id="searchSelect-small-1">
                                                    <option class="search-form__select-small_option search-form__select-small_option-1" value="Дата начала">Дата начала</option>
                                                    <option class="search-form__select-small_option search-form__select-small_option-2" value="Значение 1">Значение 1</option>
                                                    <option class="search-form__select-small_option search-form__select-small_option-3" value="Значение 2">Значение 2</option>
                                                    <option class="search-form__select-small_option search-form__select-small_option-4" value="Значение 3">Значение 3</option>
                                                </select>

                                                <select class="search-form__select-small search-form__select-small_item-2 paragraph-14" id="searchSelect-small-2">
                                                    <option class="search-form__select-small_option search-form__select-small_option-0" value="Дата конца">Дата конца</option>
                                                    <option class="search-form__select-small_option search-form__select-small_option-1" value="Значение 1">Значение 1</option>
                                                    <option class="search-form__select-small_option search-form__select-small_option-2" value="Значение 2">Значение 2</option>
                                                    <option class="search-form__select-small_option search-form__select-small_option-3" value="Значение 3">Значение 3</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="search-form__checkboxes"> <!-- ТУТ колока чекбоксов + кнопка -->
                                        <div class="search-form__checkboxes__column">
                                            <!-- Оборачиваем checkbox в label для увеличения области кликабельности -->

                                            <div class="check check-0">
                                                <input type="checkbox" name="option0" value="option0" class="checkbox" id="checkbox0" checked>
                                                <label class="label" for="checkbox0">
                                                    <span class="checkmark"></span>
                                                    <span class="label-text paragraph-18">Признак максимальной полноты</span>
                                                </label>
                                            </div>

                                            <div class="check check-1">
                                                <input type="checkbox" name="option1" value="option1" class="checkbox" id="checkbox1" checked>
                                                <label class="label" for="checkbox1">
                                                    <span class="checkmark"></span>
                                                    <span class="label-text paragraph-18">Упоминания в бизнес-контексте</span>
                                                </label>
                                            </div>

                                            <div class="check check-2">
                                                <input type="checkbox" name="option2" value="option2" class="checkbox" id="checkbox2" checked>
                                                <label class="label" for="checkbox2">
                                                    <span class="checkmark"></span>
                                                    <span class="label-text paragraph-18">Главная роль в публикации</span>
                                                </label>
                                            </div>

                                            <div class="check check-3">
                                                <input type="checkbox" name="option3" value="option3" class="checkbox" id="checkbox3">
                                                <label class="label" for="checkbox3">
                                                    <span class="checkmark"></span>
                                                    <span class="label-text paragraph-18">Публикации только с риск-факторами</span>
                                                </label>
                                            </div>

                                            <div class="check check-4">
                                                <input type="checkbox" name="option4" value="option4" class="checkbox" id="checkbox4">
                                                <label class="label" for="checkbox4">
                                                    <span class="checkmark"></span>
                                                    <span class="label-text paragraph-18">Включать технические новости рынков и всякое такое там ещё текст какой-то</span>
                                                </label>
                                            </div>

                                            <div class="check check-5">
                                                <input type="checkbox" name="option5" value="option5" class="checkbox" id="checkbox5" checked>
                                                <label class="label" for="checkbox5">
                                                    <span class="checkmark"></span>
                                                    <span class="label-text paragraph-18">Включать анонсы и календари</span>
                                                </label>
                                            </div>

                                            <div class="check check-6">
                                                <input type="checkbox" name="option6" value="option6" class="checkbox" id="checkbox6">
                                                <label class="label" for="checkbox6">
                                                    <span class="checkmark"></span>
                                                    <span class="label-text paragraph-18">Включать сводки новостей</span>
                                                </label>
                                            </div>
                                        </div>

                                      <div class="search-button__button">
                                          <a class="btn auth-btn__btn-login search-btn paragraph-22-500" href="#!">Поиск</a>
                                          <div class="search-paragraph-container">
                                              <p class="search-paragraph paragraph-14-300">* Обязательные к заполнению поля</p>
                                          </div>
                                      </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

                <div class="search__img">
                    <img src="./img/search/man-search.png" alt="СКАН поиск данных">
                </div>
            </div>
        </div>
    </section>
</main>
</div>

<footer class="footer">
    <div class="container">
        <div class="nav nav-footer">

            <div class="nav__logo nav__logo_logo-footer">
                    <img src="./img/main/logo-footer.png" alt="Логотип компании СКАН" title="Логотип компании СКАН"/>
            </div>

            <ul class="nav__footer paragraph-14">
                <li>г.Москва, Цветной б-р, 40</li>
                <li><a href="tel:+74957712111">+7 495 771 21 11</a></li>
                <li><a href="mailto:info@skan.ru">info@skan.ru</a></li>
                <li>Copyright, 2025</li>
            </ul>
        </div>
    </div>
</footer>

</body>
</html>