@import './reset.css';
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@font-face { font-family: 'Ferry'; src: url('./fonts/ferry_black.otf') }

/* Объявляем CSS-переменные. root - верхний уровень (html) */
:root {
    --container-width: 1440px;
    --container-padding: 60px;
    --secondary: rgba(144,163,154, 0.6); /* Полупрозрачный текст для сабтайтлов */
    --secondary-black: rgba(0,0,0,0.5);
    --bg-color: #fff;
    --footer-color: #029491;
    --btn-header-bg-color: #7CE3E1;
    --btn-bg-color: #5970FF;
    --yellow: #FFB64F;
    --aquamarine: #7CE3E1;
    --blue-badge: #3BA5E0;
    --btn-gray-bg-color: #D2D2D2;

}

/* Скрываение реализованных элементов при модульной вёрстке */
.none {
    display: none !important;
}

/* Создание контейнера для контента */
.container {
    max-width: var(--container-width);
    padding: 0 var(--container-padding);
    margin: 0 auto; /* выравнивание контейнера по центру */
}

body {
    font-family: 'Inter', sans-serif;
    background-color: var(--bg-color);
    overflow-x: hidden;
}

h1, h2, h3 {
    font-family: 'Ferry', sans-serif;
}

img {
    max-width: none;
    pointer-events: none;
}

/* ---------------------------------------------------- Header Section ---------------------------------------------- */

.header {
    position: relative;
    min-height: 761px;
    overflow-x: hidden;
}

/* Navigation */
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 128px;
}

.nav > :nth-child(2) {
     margin-left: 200px; /*273*/
}

.nav__list {
    display: flex;
    justify-content: space-between;
    gap: 49px;
}

.nav__list a {
   color: #000;
   font-size: 14px;
   font-weight: 400;
}

.header__info {
    min-width: 175px;
    height: 63px;
    padding: 3px;
    text-align: center;
    background-color: rgba(217,217,217,0.3);
    border-radius: 5px;
    display: flex;
    gap: 2px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header__info p {
    color: var(--secondary);
    font-size: 10px;
}

.header__info span {
    font-size: 14px;
    font-weight: 700;
}

.first-value {
    color: #000;
}

.second-value {
    color: #8AC540;
}

.header__user {
    min-width: 111px;
    display: flex;
    gap: 3px;
    align-items: center;
}

.header__user-info {
    display: flex;
    flex-direction: column;
    gap: 3px;
    justify-content: flex-end;

    position: relative;
    font-size: 14px;
    color: rgb(0, 0, 0, 0.7);
    white-space: normal; /* перенос текста */
}

.header__user-info a {
    font-size: 10px;
    color: var(--secondary);
    align-self: flex-end;
}

/* Секция "Зарегистрироваться | Войти" */

.nav__login {
    display: flex;
    align-items: center;
    column-gap: 20px;
}

.nav__login span {
    width: 2px;
    height: 34px;
    background-color: var(--footer-color);
}

.nav__login .reg {
    font-size: 14px;
    font-weight: 400;
    color: var(--secondary);
}

/* Кнопка "Войти" */
.btn.btn--login {
    background-color: var(--btn-header-bg-color);
    padding: 8px;
    border-radius: 5px;
    color: #000;
    font-size: 14px;
    font-weight: 500;
}
.btn:hover {
    opacity: 0.9;
    transition: 0.2s ease-in;
}

.btn:active {
    position: relative;
    top: 1px;
}

/* HEADER CONTENT */
.header__row {
    display: flex;
    flex-direction: row;
    padding-top: 64px;
    min-height: 620px;
}

.header__content {
    max-width: 720px;

    /* Чтобы картинка не налазила на текст при изменении окна браузера */
    position: relative;
    z-index: 1;
}

.header__title {
    font-size: 60px;
    font-weight: 500;
    margin-bottom: 24px;
}

.header__text {
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 70px;
    max-width: 534px; /* сабтайтл не выходит за пределы заголовка */
}

.btn--header {
    width: 335px;
    height: 59px;
    padding: 15px 65px;
    border-radius: 5px;
    color: #fff;
    background: var(--btn-bg-color);
    font-size: 22px;
    font-weight: 400;
}

.header__img {
    content: "",
    position: relative;
    flex-grow: 1; /* чтобы картинка растянулась и не налазила на блоки с контентом */
}

.header__img img {
    position: absolute; /* чтобы картинка не сжимала другие блоки */
    width: 629px; /* 629px */
    height: 593px; /* 593 */
    pointer-events: none; /* запрет на сохранение картинке, иначе кнопки из nav становятся недоступны */
    bottom: 25px;
}

/* ---------------------------------------------------- Factoids ---------------------------------------------------- */

.main {
    margin-top: 80px;
}

.h2 {
    font-size: 45px;
}

.factoids__column {
    margin-top: 81px;
    display: flex;
    flex-direction: column;
    gap: 70px;
}

.factoids__content {
    display: flex;
    column-gap: 4px;
}

.factoids__content > :nth-child(3),
.factoids__content > :nth-child(4) {
   margin-left: 30px;
}

.factoids__item {
    width: 400px; /* ? */
    min-height: 225px; /* ? */
    padding: 30px 35px 40px 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

.paragraph {
    padding-top: 19px;
    font-size: 18px;
    font-weight: 400;
}

.factoids__img {
    width: 1307px; /* 1307 */
    height: 575px; /* 575 */
}

/* Графические элементы вокруг картинки
.factoids__img::after {
    content: "";
    position: absolute;
    right: 0;
    width: 600px;
    height: 500px;

    background-image: url('../img/main/factoids-elements.png');
    background-size: 100%;
}
*/


/* ---------------------------------------------------- Rate -------------------------------------------------------- */

.rate {
    margin-top: 107px;
}

.rate__row {
    margin-top: 70px;
    display: flex;
    flex-direction: row;
    gap: 37px;
}

.rate-card {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 415px;
    max-width: 100%;
    height: 540px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);

}

.rate-card--beginner:hover {
   outline: 2px solid var(--yellow);
   cursor: pointer;
}

.rate-card--pro:hover {
   outline: 2px solid var(--aquamarine);
   cursor: pointer;
}

.rate-card--business:hover {
    outline: 2px solid #000;
    cursor: pointer;
}

.rate__header {
   padding: 11px 10px 24px 30px;
   display: flex;
   justify-content: space-between;
   border-radius: 10px 10px 0 0;
   /* max-height: 119px; */
}

.rate__header--beginner {
    background-color: var(--yellow);
}

.rate__header--pro {
    background-color: var(--aquamarine);
}

.rate__header--business {
    background-color: #000;
    color: #fff;
}

.rate__title {
    margin-top: 8px;
}

.rate__title-title {
    font-size: 30px;
    font-weight: 500;
}

.rate__title-desc {
    margin-top: 10px;
    font-size: 18px;
    font-weight: 400;
}

.rate__img {
    max-width: 93px;
    max-height: 83px;
}

.rate__img img {
    max-width: 100%;
    height: auto; /* Сохранение пропорций */
    display: block; /* Убираем пробелы под изображением */
    object-fit: cover;
}

.rate__content {
    padding: 0px 10px 24px 30px;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 55px;
}

.rate__badge {
    position: absolute;
    right: 10px;
    width: 134px;
    height: 24px;
    padding: 5px 13px 22px 13px;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    color: #fff;
    border-radius: 10px;
    background: var(--blue-badge);
}

.rate__price {
    padding-top: 14px; /* 4px */
    position: relative;
}

.rate__price-actually {
    font-size: 30px;
    font-weight: 500;
}

.rate__price-outdated {
    margin-left: 19px;
    padding: 0;
    color: var(--secondary-black);
    font-size: 25px;
    font-weight: 500;
    text-decoration: line-through;
    position: absolute;
    bottom: 3px;
}



.rate__price-paragraph {
    padding-top: 10px;
}

.rate__tax {
    margin-top: 13px;
}

.rate__tax-business {
    margin-top: 42px;
}

.rate__tax-paragraph {
    font-size: 20px;
    font-weight: 500;
}

.rate__list {
    margin-top: 10px;
}

.rate__list li {
    display: flex;
    align-items: center;
    font-size: 18px;
    font-weight: 400;
    position: relative;
    padding-left: 30px;
}

.rate__list li::before {
    content: "";
    background-image: url('../img/main/checkmark.svg');
    background-size: 20px 20px;
    width: 20px;
    height: 20px;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%); /* маркер на одной линии с текстом */
}

.btn--rate {
    width: 355px;
    height: 59px;
    padding: 15px 40px 17px 45px;
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    border-radius: 5px;
}

.btn--rate-beginner {
    background: var(--btn-gray-bg-color);
    color: #000;
}

.btn--rate-md {
    background: var(--btn-bg-color);
    color: #fff;
}