@import './reset.css';
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@font-face { font-family: 'Ferry'; src: url('./fonts/ferry_black.otf') }

/* Объявляем CSS-переменные. root - верхний уровень (html) */
:root {
    --container-width: 1440px;
    --container-padding: 60px; /* 60 */
    --secondary: rgba(144,163,154, 0.6); /* Полупрозрачный текст для сабтайтлов */
    --secondary-black: rgba(0,0,0,0.5);
    --secondary-white: rgba(255,255,255,0.4); /* используется на подложке бургер-меню */
    --bg-color: #fff;
    --footer-color: #029491;
    --btn-header-bg-color: #7CE3E1;
    --btn-bg-color: #5970FF;
    --yellow: #FFB64F;
    --aquamarine: #7CE3E1;
    --blue-badge: #3BA5E0;
    --btn-gray-bg-color: #D2D2D2;
    --btn-signup: #C7C7C7;
    --auth-label-color: #949494;
    --search-form-placeholder: rgba(148,148,148,0.4);
    --oauth-btn-border-color: rgba(89,112,255,0.5);

}

body {
    font-family: 'Inter', sans-serif;
    background-color: var(--bg-color);
    min-height: 100vh; /* минимальная высота - высота экрана */
    display: flex;
    flex-direction: column;

    /* overflow-x: hidden; */
}

h1, h2, h3 {
    font-family: 'Ferry', sans-serif;
}

img {
    max-width: none;
    pointer-events: none;
}

/* Скрываение реализованных элементов при модульной вёрстке */
.none {
    display: none !important;
}

/* Убираем вертикальный скролл */
.no-scroll {
    overflow-y: hidden; /* допустим X */
}

/* Создание контейнера для контента */
.container {
    max-width: var(--container-width);
    padding: 0 var(--container-padding);
    margin: 0 auto; /* выравнивание контейнера по центру */
}

/* Параграфы */

.paragraph-18 {
    font-size: 18px;
    font-weight: 400;
}

.paragraph-20 {
    font-size: 20px;
    font-weight: 400;
}


/* ---------------------------------------------------- Header Section ---------------------------------------------- */

.header {
    position: relative;
    min-height: 93px;
    min-width: var(--container-width);
    overflow-x: hidden;
}

/* Navigation */
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 128px; /* 128 */
}

.nav > :nth-child(2) {
     margin-left: 273px; /* 100 для шапки с кнопками "Зарегистрироваться | Войти" */
}

.nav__list {
    display: flex;
    justify-content: space-between;
    gap: 50px;
}

.nav__list a {
   color: #000;
   font-size: 14px;
   font-weight: 400;
}

.header__info {
    min-width: 175px;
    height: 63px;
    padding: 14px 16px 18px 10px;
    text-align: center;
    background-color: rgba(217,217,217,0.3);
    border-radius: 5px;
    display: flex;
    gap: 2px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header__info p {
    color: var(--secondary-black);
    font-size: 10px;
    font-weight: 450;
}

.header__info span {
    font-size: 14px;
    font-weight: 700;
}

.first-value {
    color: #000;
}

.second-value {
    color: #8AC540;
}

.header__user {
    min-width: 111px;
    display: flex;
    gap: 3px;
    align-items: center;
}

.header__user-info {
    display: flex;
    flex-direction: column;
    gap: 3px;
    justify-content: flex-end;

    position: relative;
    font-size: 14px;
    color: rgb(0, 0, 0, 0.7);
    white-space: normal; /* перенос текста */
}

.header__user-info a {
    font-size: 10px;
    color: var(--secondary);
    align-self: flex-end;
}

/* Секция "Зарегистрироваться | Войти" */

.nav__login {
    display: flex;
    align-items: center;
    column-gap: 20px;
}

.nav__login >:nth-child(2) {
    width: 2px;
    height: 34px;
    background-color: var(--footer-color);
}

.nav__login .btn--registration {
    font-size: 14px;
    color: var(--secondary-black);
}

/* Кнопка "Войти" */
.btn.btn--login {
    background-color: var(--btn-header-bg-color);
    padding: 8px;
    border-radius: 5px;
    color: #000;
    font-size: 14px;
    font-weight: 500;
}
.btn:hover {
    opacity: 0.9;
    transition: 0.2s ease-in;
}

.btn:active {
    position: relative;
    top: 1px;
}

/* HEADER CONTENT */
.header__row {
    display: flex;
    flex-direction: row;
    /* padding-top: 64px; */
    margin-top: 60px;
    min-height: 620px;
}

.header__content {
    max-width: 720px;

    /* Чтобы картинка не налазила на текст при изменении окна браузера */
    position: relative;
    z-index: 1;
}

.header__title {
    font-size: 60px;
    font-weight: 500;
    margin-bottom: 24px;
}

.header__text {
    margin-bottom: 70px;
    max-width: 534px; /* сабтайтл не выходит за пределы заголовка */
}

.btn--header {
    width: 335px;
    height: 59px;
    padding: 15px 65px;
    border-radius: 5px;
    color: #fff;
    background: var(--btn-bg-color);
    font-size: 22px;
    font-weight: 400;
}

.header__img {
    content: "";
    position: relative;
    bottom: 40px;
    right: 29px;
    flex-grow: 1; /* чтобы картинка растянулась и не налазила на блоки с контентом */
}

.header__img img {
    position: absolute; /* чтобы картинка не сжимала другие блоки */
    width: 629px; /* 629px */
    height: 593px; /* 593 */
    pointer-events: none; /* запрет на сохранение картинке, иначе кнопки из nav становятся недоступны */
    bottom: 25px;
}

/* ---------------------------------------------------- Factoids ---------------------------------------------------- */

.h2 {
    font-size: 45px;
}

.factoids {
    margin-top: 65px;
    min-width: var(--container-width);
}

.factoids__column {
    margin-top: 81px;
    display: flex;
    flex-direction: column;
    gap: 70px;
}

.factoids__content {
    display: flex;
    column-gap: 4px;
}

.factoids__content > :nth-child(3),
.factoids__content > :nth-child(4) {
   margin-left: 30px;
}

.factoids__item {
    width: 400px; /* ? */
    min-height: 225px; /* ? */
    padding: 30px 35px 40px 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

.factoids-paragraph {
    padding-top: 19px;
}

.factoids__img {
    width: 1307px; /* 1307 */
    height: 575px; /* 575 */
    position: relative;
    bottom: 10px;
    right: 5px;
}

.factoids__img::after {
    content: "";
    width: 600px;
    height: 500px;
    background-repeat: no-repeat;
    position: absolute;
    right: 10px;
    top: 20px;
    background-image: url('../img/main/factoids-elements.png');
}

/* Графические элементы вокруг картинки
.factoids__img::after {
    content: "";
    position: absolute;
    right: 0;
    width: 600px;
    height: 500px;

    background-image: url('../img/main/factoids-elements.png');
    background-size: 100%;
}
*/


/* ---------------------------------------------------- Rate -------------------------------------------------------- */

.rate {
    margin-top: 100px;
    min-width: var(--container-width);
}

.rate__row {
    margin-top: 70px;
    display: flex;
    flex-direction: row;
    gap: 37px;
}

.rate-card {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 415px;
    max-width: 100%;
    max-height: 540px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);

}

.rate-card--beginner:hover {
   outline: 2px solid var(--yellow);
   cursor: pointer;
}

.rate-card--pro:hover {
   outline: 2px solid var(--aquamarine);
   cursor: pointer;
}

.rate-card--business:hover {
    outline: 2px solid #000;
    cursor: pointer;
}

.rate__header {
   padding: 11px 10px 24px 30px;
   display: flex;
   justify-content: space-between;
   border-radius: 10px 10px 0 0;
   max-height: 119px;
}

.rate__header--beginner {
    background-color: var(--yellow);
}

.rate__header--pro {
    background-color: var(--aquamarine);
}

.rate__header--pro .rate__img {
    max-width: 100%;
    max-height: 100%;
    margin-top: -20px;
}

.rate__header--business {
    background-color: #000;
    color: #fff;
}

.rate__header--business .rate__img {
    max-width: 100%;
    max-height: 100%;
    margin-top: 8px;
}

.rate__title {
    margin-top: 8px;
}

.rate__title-title {
    font-size: 30px;
    font-weight: 500;
}

.rate__title-desc {
    margin-top: 10px;
    font-size: 18px;
    font-weight: 400;
}

.rate__img {
    max-width: 93px;
    max-height: 83px;
}

.rate__img img {
    max-width: 100%;
    height: auto; /* Сохранение пропорций */
    display: block; /* Убираем пробелы под изображением */
    object-fit: cover;
}

.rate__content {
    padding: 0px 30px 24px 30px;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 55px;
}

.rate__badge {
    position: absolute;
    right: 10px;
    width: 134px;
    height: 24px;
    padding: 5px 13px 22px 13px;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    color: #fff;
    border-radius: 10px;
    background: var(--blue-badge);
}

.rate__price {
    padding-top: 14px; /* 4px */
    width: 380px;
    position: relative;
}

.rate__price-actually {
    font-size: 30px;
    font-weight: 500;
}

.rate__price-outdated {
    margin-left: 19px;
    padding: 0;
    color: var(--secondary-black);
    font-size: 25px;
    font-weight: 500;
    text-decoration: line-through;
    position: absolute;
    bottom: 3px;
}



.rate__price-paragraph {
    padding-top: 10px;
}

.rate__tax {
    margin-top: 13px;
}

.rate__tax-business {
    margin-top: 44px;
}

.rate__tax-paragraph {
    font-size: 20px;
    font-weight: 500;
}

.rate__list {
    margin-top: 10px;
}

.rate__list li {
    display: flex;
    align-items: center;
    font-size: 18px;
    font-weight: 400;
    position: relative;
    padding-left: 30px;
}

.rate__list li::before {
    content: "";
    background-image: url('../img/main/checkmark.svg');
    background-size: 20px 20px;
    width: 20px;
    height: 20px;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%); /* маркер на одной линии с текстом */
}

.btn--rate {
    width: 355px;
    height: 59px;
    padding: 15px 40px 5px 45px;
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    border-radius: 5px;
}

.btn--rate-beginner {
    background: var(--btn-gray-bg-color);
    color: #000;
}

.btn--rate-md {
    background: var(--btn-bg-color);
    color: #fff;
}

/* ---------------------------------------------------- Footer ------------------------------------------------------ */

.footer__sticky {
    flex-grow: 1;
}

.footer {
    margin-top: 100px; /* 118 */
    min-width: var(--container-width);
    background: var(--footer-color);
    flex-grow: 0;
}

.nav__footer {
    font-size: 14px;
    font-weight: 300;
    color: #fff;
    text-align: right;
}

.nav__footer >:nth-child(4) {
    margin-top: 21px;
}

.nav__footer a {
    color: #fff;
}

/* ---------------------------------------------------- Auth Section ------------------------------------------------ */

.auth__row {
    display: flex;
    margin-top: 14px;
}

.auth__content {
    margin-top: 55px;
    min-width: 750px;
}

.title__h2 {
    font-size: 40px;
    font-weight: 500;
}

.auth__img {
    margin-top: 14px;
    padding-left: 112px;
}

.auth__form {
    min-width: 480px;
    min-height: 578px;
    position: relative;
}

.authorization-form {
    position: absolute;
    width: 429px;
    height: 537px; /* 523 */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    top: 50px; /* 74 */
    left: 45px;
    right: 0;
    bottom: -10px;
}

.authorization-form::before {
    content: "";
    position: absolute;
    width: 75px;
    height: 92px;
    top: -55px;
    left: -48px;
    background-image: url('../img/auth/lock.png');
}

.authorization-form__container {
    padding: 25px 25px 39px 25px;
    display: flex;
    flex-direction: column;
}

.authorization-form__container > *:nth-child(-n+4) {
    margin-bottom: 30px;
}

.authorization-form__container > *:nth-last-child(2) {
    margin-bottom: 25px;
}

.authorization-form__navigation {
    max-width: 379px;
    height: 29px;
    display: flex;
    justify-content: space-around;
    gap: 15px;
}

.authorization-form__navigation {
}

.authorization-form__btn {
    font-size: 16px;
    font-weight: 300;
    padding-bottom: 8px;
    /* width: 100%; */
}

.authorization-form__btn-login {
    width: 151px;
    color: var(--footer-color);
    border-bottom: 2.5px solid var(--footer-color);
}

.authorization-form__btn-signup {
    width: 213px;
    color: var(--btn-signup);
    border-bottom: 2.5px solid var(--btn-signup);
}

.authorization-form__content {
    margin-top: 10px;
}

.authorization-form__content_input_password {
    margin-top: 20px;
}

.authorization-form__content_btn-login {
    margin-top: 30px; /* 55 */
}

.authorization-form__label {
    font-size: 16px;
    font-weight: 200;
    color: var(--auth-label-color);
}

.authorization-form__input {
    width: 379px;
    height: 43px;
    border: 1px solid var(--search-form-placeholder); /* можно использовать inset */
    border-radius: 5px;
    padding: 0px 20px;
    margin-top: 15px;
}

.auth-btn__btn-login {
    font-size: 22px;
    font-weight: 400;
    color: #fff;
    background: var(--btn-bg-color);
    border-radius: 5px;
    width: 379px;
    height: 59px;
    padding: 16px 156px;
    opacity: 0.5;
}

/* Обнуление стилей для кнопки "Войти" */
.auth-btn__btn-login:hover,
.auth-btn__btn-login:active {
    opacity: 0.5;
    position: none;
    top: 0;
}

.auth-btn__btn-recovery {
    margin-bottom: 15px;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    text-decoration: underline !important;
    color: var(--btn-bg-color);
}

.authorization-form__oauth-paragraph {
    margin-top: 5px;
    font-size: 16px;
    color: var(--auth-label-color);
}

.oauth__btns {
    display: flex;
    margin-top: 15px;
    gap: 10px;
}

.oauth__btn {
    width: 96px;
    height: 31px;
    text-align: center;
    border-radius: 3px;
    border: 1px solid var(--oauth-btn-border-color);
    padding: 6px 18px;
}

.oauth__btn-facebook {
    padding-top: 8px;
}


/* ---------------------------------------------------- Search section ---------------------------------------------- */

.search__row {
    display: flex;
    margin-top: 69px;

}

.search__content {
    display: flex;
    flex-direction: column;
}

.search__content >:nth-child(2) {
    margin-top: 25px;
}

.search__content >:nth-child(3) {
    margin-top: 47px;
}

.search__form {
    width: 872px;
    height: 543px;
    padding: 21px 38px 32px 45px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

/* Flex row секций внутри формы */
.search-form__row {
    display: flex;
    justify-content: space-between;
    column-gap: 55px;
}

.search-form__section {
    display: flex;
    flex-direction: column;
    /* gap: 20px; */
}

.search-form__label {

}

.search-form__asterisk {
    font-size: 25px;
    font-weight: 500;
}

.search-form__inputs {
    display: flex;
    flex-direction: column;
    width: 372px;
    gap: 30px;
}

.search-form__input {
    width: 242px;
    height: 43px;
    padding: 13px 70px; /* 93px - второе значение */
    border: 1px solid var(--search-form-placeholder); /* можно использовать inset */
    border-radius: 5px;
    text-align: center;
}

.search-form__input::placeholder {
    font-size: 14px;
    color: var(--search-form-placeholder);
    text-align: center;
}

.search-form__select-big {
    width: 242px;
    height: 43px;
    border-radius: 5px;
    border: 1px solid var(--search-form-placeholder);
    padding: 11px 30px 10px 22px;

}

.search-form_section__row {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.search-form__select-small {
    width: 176px;
    height: 43px;
    font-size: 14px;
    border-radius: 5px;
    border: 1px solid var(--search-form-placeholder);
    text-align: center;
}

.search-form__select-small {
    color: var(--search-form-placeholder);
}

.search-form__checkboxes {
    display: flex;
    flex-direction: column;
    gap: 142px;
    border: 2px solid red;
}

.search-form__checkboxes__column {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.search-from__checkbox {
    font-size: 18px;
    font-weight: 400;
}

.search-from__checkbox.inactive {
    color: var(--search-form-placeholder);
}
























/* ---------------------------------------------------- Burger Menu ------------------------------------------------- */

.menu-icon-wrapper {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Центральный прямоугольник бургера */
.menu-icon {
    position: relative;
    width: 30px;
    height: 5px;
    background-color: var(--footer-color);
}

/* Нижний прямоуголник бургера */
.menu-icon::before {
    content: "";
    position: absolute;
    left: 0;
    top: -10px;
    width: 30px;
    height: 5px;
    background-color: var(--footer-color);
    transition: transform 0.2s ease-in, top 0.2s linear 0.2s; /* размещение по центру */
}

/* Верхний прямоугольник бургера */
.menu-icon::after {
    position: absolute;
    left: 0;
    top: 10px;
    content: '';
    width: 30px;
    height: 5px;
    background-color: var(--footer-color);
    transition: transform 0.2s ease-in, top 0.2s linear 0.2s;
}

/* Анимация бургера */
.menu-icon.menu-icon-active {
    background-color: transparent;
}

.menu-icon.menu-icon-active::before {
    transform: rotate(45deg);
    top: 0;
    transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
    background-color: #fff;
}

.menu-icon.menu-icon-active::after {
    transform: rotate(-45deg);
    top: 0;
    transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
    background-color: #fff;
}



@media (max-width: 2000px) {

    /* Подложка для мобильного меню, растянутая на всю ширину */
    .nav--mobile {
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 99;

        background: var(--footer-color);

        flex-direction: column;
        align-items: center;
        gap: 74px;
        padding-top: 40px;
        padding-bottom: 74px;
    }

    /* Увеличиваем логотип, если nav--mobile активен */
    .nav--mobile .logo--header {
        position: absolute; /* Позволяет позиционировать элемент независимо от flex */
        left: 14px; /* Фиксированное значение от левого края */
        top: -5px; /* Отступ сверху, если это необходимо */
        margin-top: 0; /* Убираем отрицательный отступ */
    }

    /* Отображаем список (Главная Тарифы FAQ), если .nav--mobile = true */
    .nav--mobile .nav__list {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        row-gap: 26px;
        padding-top: 150px;
        padding-right: 270px;

    }

    .nav--mobile .nav__list a {
        font-size: 16px;
        font-weight: 300;
        color: #fff;
    }

    /* Убираем подчёркивание у активного элемента (которое задано по умолчанию для демонстрации) */
    .nav--mobile .nav__list a.active::after,
    .nav--mobile .nav__list a:hover::after {
        display: none;
    }

    /* Отображаем кнопки, если .nav--mobile = true */
   .nav--mobile .nav__login {
        display: flex;
        padding-top: 75px;
        flex-direction: column;
        align-items: center;
    }

    /* Зарегистрироваться */
    .nav--mobile .nav__login .btn--registration {
        font-size: 16px;
        font-size: 200;
        color: var(--secondary-white);
    }

    /* Войти */
    .nav--mobile .nav__login .btn--login {
        font-size: 20px;
        padding: 15px 117px;
    }

    /* Расположение бургура в левом верхнем углу, если .nav--mobile = true */
   .nav--mobile .nav__toggle {
        position: fixed;
        top: 40px;
        right: 28px;
    }

}
